#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.item1 {
    font-size: 125px;
    grid-area: 1 / 1 / 2 / 1;
    background-color: pink;
    
}

.item1 img {
}